.card {
  background: linear-gradient(
    180deg,
    rgba(53, 56, 74, 0.5) 0%,
    rgba(15, 15, 24, 0.5) 100%
  );
  /* background: rgba(15, 15, 24, 0.5) 100%; */
  border: 2px solid rgba(35, 37, 49, 0.5);
  box-sizing: border-box;
  /* backdrop-filter: blur(20px); */
  border-radius: 1rem;

  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  max-width: 450px;
  margin: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: transform 0.3s;
  min-width: 450px;

  min-height: 450px;
  max-height: 450px;
}

.card-image {
  width: 100%;
  border-radius: 10px;
}
.card:hover {
  transform: scale(1.05);
}

.card-heading {
  margin: 20px 0 10px 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #75baf6;
}

.card-description {
  font-size: 1rem;
  margin-bottom: 20px;
}

.card-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  margin-bottom: 20px;
}

.tech-tag {
  background: #75baf6;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.card-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.2);
}
